@media screen and (max-width: 1200px) {
    .container {
        width: 90%;
    }

    .img_logo {
        width: 40%;
    }

    .createAccount_wrapper {
        margin-top: 10px;
        margin-bottom: 10px;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: stretch;
    }

    .img_Project_createAccount,
    .sidebar_createAccount {
        width: 90%;
    }

    .img_Project_createAccount {
        margin-top: 10px;
    }

    .sidebar_createAccount {
        padding: 0 15px;
    }

    .separator_section {
        margin: 20px 0;
    }

    .form_input_wrapper,
    .register_link_social_btn_wrapper {
        flex-direction: column;
        align-items: center;
    }

    .register_link_social_wrapper,
    .register_link_social_btn_wrapper,
    .form_title_wrapper {
        margin-top: 10px;
    }

    .register_link_social_btn {
        padding: 14px 15px 14px 12px;
    }

    .form_radio_check_wrapper {
        flex-direction: column;
        margin-top: 10px;
    }

    .form_checkboxAgree_wrapper {
        margin-top: 50px;
    }

    #checkboxAgree {
        width: 25px;
        height: 25px;
    }

    .customLabel .tooltiptext {
        width: 150px;
        top: 28%;
        left: 50%
    }

}

@media screen and (min-width: 1200px) and (max-width: 1800px) {
    .customLabel .tooltiptext {
        width: 150px;
        top: 90%;
    }
}